/* "H" Tags */

h1 {
	font: 700 32px "Open Sans Condensed", Helvetica, sans-serif;
	color: #640633;
}

h2 {
	font: 700 24px "Open Sans Condensed", Helvetica, sans-serif;
	color: #640633;
}

h3 {
	font: 300 16px "Open Sans Condensed", Helvetica, sans-serif;
	color: #414141;
}

h4 {
	font: 18px "Snippet", Helvetica, sans-serif;
	color: #414141; 
}

/* Navigation */

.nav li a {
	font: 18px "Snippet", Helvetica, sans-serif;
	color: #fff !Important;
}

#salut 

.nav a:hover {
	text-decoration: underline !important;
}

/* Logged in Header */
#welcome {
	font: 35px "Snippet", Helvetica, sans-serif;
	color: #fff !Important;
}

.nav-collapse .h-label {
	font: 700 14px "Open Sans Condensed", Helvetica, sans-serif;
	color: #fff;
	margin-left: 40px;
}

.nav-collapse .label-number {
	font: 700 35px "Open Sans Condensed", Helvetica, sans-serif;
	color: #edba08;
}

.nav-links{
	margin-top:-22px;
}


/* Footer */
.social p {
	font: 700 14px "Open Sans Condensed", Helvetica, sans-serif;
	color: #640633;
}	

#foottext p {
	font: 12px Myriad Pro, Myriad, Helvetica, Arial, Sans-serif;
	color: #404242;
}

body {
	font: 14px Myriad Pro, Myriad, Helvetica, Arial, Sans-serif !important;
	color: #404242 !important;
}