html, body {
	height: 100%;
	min-height: 100%;
	
	background-image: url('../img/footer_bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	
	/*padding-bottom: 155px;*/
	margin-bottom: -155px;
}

.navbar-inner {
	height: 130px;
	background-color: #FFFFFF;
	background-image: url('../img/header_bg.png');
	background-repeat: repeat-x;
}

.navbar .brand {
	padding-top: 0px;
}

.content {
	padding-top: 140px;
}

.footer {
	text-align: center;
}

/* Phillip's Overrides */

.nav-collapse {
	margin: 50px 0 0 0;
}

li.active a {
	background-color: transparent !important;
	text-decoration: underline !important;
}	